

<a href="/chapters">
chapters
</a>


<div>
  <div>
    <h1>
       <%= @the_yoga_class.name %> Details
    </h1>


    <dl>
      <dt>
        Yogi
      </dt>
      <dd>
        <%= Yogi.where({:id => @the_yoga_class.yogi_id}).at(0).first_name + " " + Yogi.where({:id => @the_yoga_class.yogi_id}).at(0).last_name %>
      </dd>

      <dt>
        Class length (minutes)
      </dt>
      <dd>
        <%= (@the_yoga_class.duration_secs.to_f / 60).to_i %>
      </dd>

      <dt>
        Public?
      </dt>
      <dd>
        <% if @the_yoga_class.public_to_all == true %>
          Yes
        <% else %>
          No
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_yoga_class.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_yoga_class.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div>
<div>
  <a href="/yoga_classes">
    Back to all yoga classes
  </a>
</div>

<% if @current_yogi.id == @the_yoga_class.yogi_id %>

<div>
  <a href="/delete_yoga_class/<%= @the_yoga_class.id %>">
    Delete this yoga class
  </a>
</div>
</div>

<hr>



<div>
  <div>
    <h2>
      Edit yoga class
    </h2>

    <form action="/modify_yoga_class/<%= @the_yoga_class.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_yoga_class.name %>">
      </div>

      <div>
      <label for="duration_secs_box">
          Class length
        </label>

      <select name="query_duration_secs" id="query_duration_secs">    
        <option value="<%= 60*15 %>">
          15 minutes
        </option>

        <option value="<%= 30*60 %>">
          30 minutes
        </option>

        <option value="<%= 45*60 %>">
          45 minutes
        </option>

        <option value="<%= 60*60 %>">
          60 minutes
        </option>

      </select>
      </div>


      <div>
        <input type="checkbox" id="public_to_all_box" name="query_public_to_all" value="1" <%= "checked" if @the_yoga_class.public_to_all %>>

        <label for="public_to_all_box">
            Public to all
        </label>
      </div>

      <button>
        Update yoga class
      </button>
    </form>
  </div>
</div>

<hr>




<div>
  <div>
    <h2>
      Add a new pose
    </h2>

    <form action="/insert_class_pose/<%= @the_yoga_class.id %>" method="post">
      <select name="query_name" id="query_name_box">

      <% Pose.where({ :chapter_id => 1 }).each do |a_pose| %>    
      <option value="<%=a_pose.name%>">
        <%=a_pose.name%>
      </option>
      <% end %>
      </select>

      <select name="query_chapter_id" id="query_chapter_id_box">
      <% @matching_chapters.each do |a_chapter| %>    
        <option value="<%=a_chapter.id%>">
          <%=a_chapter.name%>
        </option>
        <% end %>
        </select>

      <button>
        Add pose
      </button>
    </form>
  </div>
</div>



<% end %>

<hr>

<%


duration = 0
warm_up_duration = 0 
Pose.where({:chapter_id => @warm_up_chapter.at(0).id}).each do |time_pose|
  duration = duration + time_pose.duration_secs
  warm_up_duration = warm_up_duration + time_pose.duration_secs
end
flow_duration = 0
Pose.where({:chapter_id => @flow_chapter.at(0).id}).each do |time_pose|
  duration = duration + time_pose.duration_secs
  flow_duration = flow_duration + time_pose.duration_secs
end
balancing_duration = 0
Pose.where({:chapter_id => @balancing_chapter.at(0).id}).each do |time_pose|
  duration = duration + time_pose.duration_secs
  balancing_duration = balancing_duration + time_pose.duration_secs
end
cool_down_duration = 0
Pose.where({:chapter_id => @cool_down_chapter.at(0).id}).each do |time_pose|
  duration = duration + time_pose.duration_secs
  cool_down_duration = cool_down_duration + time_pose.duration_secs
end

warm_up_duration_den = @the_yoga_class.duration_secs.to_f * 0.15
flow_duration_den = @the_yoga_class.duration_secs.to_f * 0.40
balancing_duration_den = @the_yoga_class.duration_secs.to_f * 0.20
cool_down_duration_den = @the_yoga_class.duration_secs.to_f * 0.15
%>

<%= "#{(duration.to_f*100 / @the_yoga_class.duration_secs.to_f).round(2)}%" %> complete!

<h2>Warm up poses</h2>
<h3>
<%= "#{(warm_up_duration.to_f*100 / warm_up_duration_den.to_f).round(2)}%" %> complete!
</h3>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Picture
        </th>

        <th>
          Tips
        </th>

        <th>
          Duration secs
        </th>

        <th>
          Details
        </th>

        <th>
          Remove
        </th>

      </tr>
      

      <% Pose.where({:chapter_id => @warm_up_chapter.at(0).id}).each do |a_pose| %>

      <tr>
    

        <td>
          <%= a_pose.name %>
        </td>

        <td>
          <img width= 300px src="<%=a_pose.picture %>">
        </td>

        <td>
          <%= a_pose.tips %>
        </td>

        <td>
          <%= a_pose.duration_secs %>
        </td>

        <td>
          <a href="/poses/<%= Pose.where({:name => a_pose.name}).where({:chapter_id => 1}).at(0).id %>">
            Show details
          </a>
        </td>


        <% if @current_yogi.id == @the_yoga_class.yogi_id %>
        <td>
          <a href="/delete_pose/<%= a_pose.id %>">
          Remove
          </a>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h2>Flow poses (repeat 2x on each side)</h2>
<h3>
<%= "#{(flow_duration.to_f * 4*100 / flow_duration_den.to_f).round(2)}%" %> complete!
</h3>


<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Picture
        </th>

        <th>
          Tips
        </th>

        <th>
          Duration secs
        </th>

        <th>
          Details
        </th>

        <th>
          Remove
        </th>

      </tr>
      
      
      <% Pose.where({:chapter_id => @flow_chapter.at(0).id}).each do |a_pose| %>

      <tr>
    

        <td>
          <%= a_pose.name %>
        </td>

        <td>
          <img width= 300px src="<%=a_pose.picture %>">
        </td>

        <td>
          <%= a_pose.tips %>
        </td>

        <td>
          <%= a_pose.duration_secs %>
        </td>

        <td>
          <a href="/poses/<%= Pose.where({:name => a_pose.name}).where({:chapter_id => 1}).at(0).id %>">
            Show details
          </a>
        </td>


        <% if @current_yogi.id == @the_yoga_class.yogi_id %>
        <td>
          <a href="/delete_pose/<%= a_pose.id %>">
          Remove
          </a>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h2>Balancing poses</h2>
<h3>
<%= "#{(balancing_duration.to_f*100 / balancing_duration_den.to_f).round(2)}%" %> complete!
</h3>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Picture
        </th>

        <th>
          Tips
        </th>

        <th>
          Duration secs
        </th>

        <th>
          Details
        </th>

        <th>
          Remove
        </th>

      </tr>
      
      
      <% Pose.where({:chapter_id => @balancing_chapter.at(0).id}).each do |a_pose| %>

      <tr>
    

        <td>
          <%= a_pose.name %>
        </td>

        <td>
          <img width= 300px src="<%=a_pose.picture %>">
        </td>

        <td>
          <%= a_pose.tips %>
        </td>

        <td>
          <%= a_pose.duration_secs %>
        </td>

        <td>
          <a href="/poses/<%= Pose.where({:name => a_pose.name}).where({:chapter_id => 1}).at(0).id %>">
            Show details
          </a>
        </td>


        <% if @current_yogi.id == @the_yoga_class.yogi_id %>
        <td>
          <a href="/delete_pose/<%= a_pose.id %>">
          Remove
          </a>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h2>Cool down poses</h2>
<h3>
<%= "#{(cool_down_duration.to_f*100 / cool_down_duration_den.to_f).round(2)}%" %> complete!
</h3>


<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Picture
        </th>

        <th>
          Tips
        </th>

        <th>
          Duration secs
        </th>

        <th>
          Details
        </th>

        <th>
          Remove
        </th>

      </tr>
      
      
      <% Pose.where({:chapter_id => @cool_down_chapter.at(0).id}).each do |a_pose| %>

      <tr>
    

        <td>
          <%= a_pose.name %>
        </td>

        <td>
          <img width= 300px src="<%=a_pose.picture %>">
        </td>

        <td>
          <%= a_pose.tips %>
        </td>

        <td>
          <%= a_pose.duration_secs %>
        </td>

        <td>
          <a href="/poses/<%= Pose.where({:name => a_pose.name}).where({:chapter_id => 1}).at(0).id %>">
            Show details
          </a>
        </td>


        <% if @current_yogi.id == @the_yoga_class.yogi_id %>
        <td>
          <a href="/delete_pose/<%= a_pose.id %>">
          Remove
          </a>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>