<div>
  <div>
    <h1>
      <%= @the_pose.name %> Pose Details
    </h1>



    <dl>

    


      <dd>
        <img width= 300px src="<%=@the_pose.picture %>">
      </dd>


      <dt>
        Tips
      </dt>
      <dd>
        <%= @the_pose.tips %>
      </dd>

      <dt>
        Duration secs
      </dt>
      <dd>
        <%= @the_pose.duration_secs %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pose.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pose.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div>
<div>
  <a href="/poses">
    Go back
  </a>
</div>

<div>
  <a href="/delete_pose/<%= @the_pose.id %>">
    Delete pose
  </a>
</div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit pose
    </h2>

    <form action="/modify_pose/<%= @the_pose.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_pose.name %>">
      </div>

      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="query_picture" value="<%= @the_pose.picture %>">
      </div>

     

      <div>
        <label for="tips_box">
          Tips
        </label>

        <input type="text" id="tips_box" name="query_tips" value="<%= @the_pose.tips %>">
      </div>

      <div>
        <label for="duration_secs_box">
          Duration secs
        </label>

        <input type="text" id="duration_secs_box" name="query_duration_secs" value="<%= @the_pose.duration_secs %>">
      </div>

      <button>
        Update pose
      </button>
    </form>
  </div>
</div>

<hr>
